html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


// Hide spinner unless input tag has 'use-spinner' class.
/* Chrome, Safari, Edge, Opera */
input:not(.use-spinner)::-webkit-outer-spin-button,
input:not(.use-spinner)::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]:not(.use-spinner) {
  -moz-appearance: textfield;
}


input:is([required]):placeholder-shown {
    border-color: red;
    border-width: .1rem;
}

input:not(:placeholder-shown) {
    border-color: green;
    border-width: .1rem;
}
